@{
    ViewData["Title"] = "EventoMedia || Home";
    Layout = "_Layout";
}
@model IEnumerable<HomeViewModel>

<div id="searchbar">
    @using (Html.BeginForm())
    {
        <p>
           Search for KeyWords @Html.TextBox("searchString")
            <input  id="searchbutton" type="submit" value="Search" />
        </p>
    }
</div>
<div class="paralaxa">
    <div class="sectionTitle">Recent Events
    
    
    </div>
    
    @foreach (var EventVM in Model)
    {
     <div class="EventContainer">
         <partial name="_Partial_Listing" model="EventVM" />
     </div>
    }
    </div>
