* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: Arial, "Helvetica Neue",Helvetica, sans-serif;
    font-size: 17px;
    line-height: 1.5;
}
.NavSectionLeft {
    margin: 0;
    padding: 7px 20px 7px 20px;
    font-size: 20px;
    float: left;
    font-family: 'Oswald', sans-serif;
}

.Header {
    color: #3b3272;
    background-image: url(/images/marshmello-live-event-image-1920x1080.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 60vh;
    display:flex;
    align-items: center;
    justify-content:center;
    
}
.NavSectionRight {
    overflow: hidden;
    float: right;
    transition: max-height 0.5s;
    -webkit-transition: max-height 0.5s;
    -moz-transition: max-height 0.5s;
    -o-transition: max-height 0.5s;
}
nav {
    height: 60px;
    background: transparent;
    display: inline-block;
    padding-bottom: 20px;
    position: fixed;
    width: 100%;
    transition: all ease .4s;
}
    .shrink {
        height: 70px;
        transition: all ease .4s;
        background: #3b3272;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }

nav li {
    margin-top: 10px;
    float: left;
    display: inline-block;
    padding: 4px 20px 7px 20px;
    font-weight: bold;
    color: #f4f4f4;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    
}
nav li a {
    
    text-decoration-style:none;
    color: #f4f4f4;

}
nav li a:hover {
    text-decoration-style:none;
    color: #ff960c;
}
    nav li #Create {
        padding: 5px;
        border-radius: 6px;
        border-style: solid;
        border-color: #7c0000;
    }
    nav li #Create:hover {
        background-color:#7c0000;
       
    }
nav button {
    background-color: transparent;
    border: none;
}
nav button:hover {
    background-color: transparent;
    border: none;
    color: #ff960c;
}
.CenterLogo {
    color: #ffffff;
    border-radius:20px;
    background-color: rgba(59,50,114,0.6);
    font-size: 60px;
    font-family: 'Thasadith', sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.sectionentry {
    height:40vh;
    width: 100%;
    background-color: #f4f4f4;
    display: flex;
   
    justify-content:center;
}
.EntryText {
   
    color: #000000;
    font-family: 'Exo 2', sans-serif;
    font-size: 22px;
    display:flex;
    flex-direction:column;
    margin: 100px 10px 100px 10px;
    text-align:center;
    justify-content:center;
    width: 80%;
    max-width: 1500px;
}
.Separator {
    width: 100%;
    display: flex;
    background-color: rgb(71, 71, 71);
    padding: 20px 0 40px 0;
}

.paralaxa {
    margin: 0;
    padding: 0;
    background-image: url(/images/Paralaxaedited.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height:200px;
    
}
.sectionTitle {
    width: 100%;
    font-family: 'Oswald', sans-serif;
    text-align: left;
    font-size: 30px;
    padding-left: 60px;
    padding-top:5px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    color: #f4f4f4;
    border-bottom: solid #f4f4f4 5px;
}
#searchbar {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
    margin-right: 5%;
    float: right;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color: #f4f4f4;
}
#searchbutton{
    padding: 1px 4px 1px 4px;
    background-color: transparent;
    border-radius: 10px;
    
}
.EventContainer {
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
    font-family: 'Oswald', sans-serif;
    margin: 0 5% 20px 3%;
    width: 60%;
    display: inline-block;
    background-color: rgba(221, 221, 221, 0.75);
}
.EventContainer #headimageURL {
        font-size: 30px;
        width:100%;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: solid black 2px;
    }
#EventGrid {
    font-size: 20px;
    grid-template-columns: auto auto auto;
    width: 100%;
    display: grid;
    padding: 5px;
}
.EventComponent1 {
    grid-column-start: 1;
    grid-column-end: 4;
    justify-content: center;
    text-align:center;
    border-bottom: solid black 1px;
    padding-bottom: 3px;
}
.EventComponent2, .EventComponent3, .EventComponent4, .EventComponent5, .EventComponent6, .EventComponent7 {
    
    padding-top: 3px;
    padding-left:5px;
    padding-bottom: 5px;
    text-align:left;
}
footer {
    font-size: 25px;
    text-align: center;
    display:flex;
    align-items:center;
    justify-content: center;
    font-family: 'Exo 2', sans-serif;
    color: #f4f4f4;
    background-color:rgb(71, 71, 71);
    min-height:100px;
}